.container {
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .text-box {
    background-color: rgba(246, 246, 246, 1);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  
  .text-box textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px; 
  }
  

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
  }
  
  .cancel-button, .submit-button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
  }
  
  .cancel-button:hover, .submit-button:hover {
    background-color: #0056b3; 
  }
  