.item_layout
{
    float:left;
    height: 450px;
    width: 370px;
    color: #151515;
    background-color: #fff;
    border-radius: 18px;
    text-decoration: none;
    box-shadow: 2px 2px 20px rgba(15,56,112,.15);
    /*padding: 10px;*/
    margin: 20px;
}

.image_element img{
    z-index: 1;
    display:flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 18px 18px 0 0;
    /*position: relative;*/
    /*overflow: hidden;*/
}
.head{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(157, 207, 254, 0.55);

}
.head h2{
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 1.5em;
    font-weight: bold;
    color: darkgreen;
}
.head p {
    margin: 0px;
    color: #585757;
    font-size: small;

}
.description p {
    width: auto;
    height: 120px;
    padding: 10px;
    margin: 0;
    font-family: Arial;
    color: #878787;
    /*clip-path: content-box;*/

}
.description{
    clip-path: inset(0);

}