.item_layout
{
    float:left;
    height: 450px;
    width: 370px;
    color: #151515;
    background-color: #fff;
    border-radius: 18px;
    text-decoration: none;
    box-shadow: 2px 2px 20px rgba(15,56,112,.15);
    /*padding: 10px;*/
    margin: 20px;
}

.image_element img{
    z-index: 1;
    display:flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 18px 18px 0 0;
    /*position: relative;*/
    /*overflow: hidden;*/
}
.head{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(157, 207, 254, 0.55);

}
.head h2{
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 1.5em;
    font-weight: bold;
    color: darkgreen;
}
.head p {
    margin: 0px;
    color: #585757;
    font-size: small;

}
.description p {
    width: auto;
    height: 150px;
    padding: 15px;
    margin: 0;
    font-family: Arial;
    color: #878787;
    /*clip-path: content-box;*/

}
.description{
    clip-path: inset(0);

}

.btn--green_240{
    width: 240px;
    height: 54px;
    color: #0f3870;
    cursor: pointer;
    background-color: #9ce2a7;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    align-self: end;
    justify-self: end;
    display: flex;
    position: relative;
    top: 15px;
    z-index: 2;



}
.bottom-shade{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), #ffffff);
    height: 90px;
    position: relative;
    bottom: 80px;
    z-index: 0;
    border-radius: 0 0 18px 18px ;
}

.btn-text{
    width: fit-content;
    padding-right: 18px;
    font-size: large;
    /*font-weight: bold;*/
}
.btn-icon{
    width: fit-content;
}